<form asp-action="Create" method="post">
    <input type="text" name="SongName" placeholder="Please add song"/>
    <input type="datetime" name="Length" placeholder="Enter length of song"/>
    <button type="submit">Add Song</button>
</form> 